

/* BASIC RESET */
ul,ol,li,h1,h2,h3,
h4,h5,h6,pre,form,
body,html,p,blockquote,
fieldset,input {
	margin:0; 
	padding:0;
}
* {
	font-family: Arial, Helvetica, sans-serif;
	color: #7b7e9a;
}
/* HTML ELEMENTS */
body { 
	background-color:#130f27; 
	font:14px/21px Arial,Helvetica,sans-serif; 
}

h1 { 
	font: bold 65px/60px Helvetica, Arial, Sans-serif; 
	text-align: center; 
}

h1 small{ 
	font-size: 20px; 
	text-transform:uppercase; 
	letter-spacing: 14px; 
	display: block; 
}
h2 a { 
	display: block; 
	text-decoration: none; 
	margin: 0 0 30px 0; 
	font: italic 45px Georgia, Times, Serif;  
	text-align: center; 
}
h2 a:hover { 
	color: #90bcd0; 
}

/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { width:930px; margin:40px auto; margin-bottom: 100px; }

/* CONTENT */
#content .info { padding:10px; }

/* MOVIE POSTERS */
#movieposters { 
	list-style:none; 
	margin:0 auto; 
	margin-bottom: 250px; 
	margin-top: 100px; 
	height:550px; 
}

#movieposters li { 
	display:inline; 
	float:left;
	-webkit-perspective: 500; 
	-webkit-transform-style: preserve-3d;
	-webkit-transition-property: perspective; 
	-webkit-transition-duration: 0.5s; 
}

#movieposters li:hover { 
	-webkit-perspective: 5000; 
}
	
#movieposters li img {
	 height: 550px; 
	 width: 300px; 
	 border-radius: 20px;  
	 border:0px solid silver; 
	-webkit-transform: rotateY(30deg);
	-webkit-transition-property: transform; 
	-webkit-transition-duration: 0.5s; 
}
#movieposters li:hover img { 
	-webkit-transform:
	 rotateY(0deg); 
	}

.movieinfo { 
	border:0px solid silver; 
	border-radius:20px; 
	padding:20px; 
	width:200px; 
	height:90px; 
	background-color: #130f27; 
	margin:-195px 0 0 55px; 
	position:absolute;
	-webkit-transform: translateZ(30px) rotateY(30deg);
	-webkit-transition-property: transform, box-shadow, margin; 
	-webkit-transition-duration: 0.5s; 
}
	
#movieposters li:hover .movieinfo { 
	-webkit-transform: rotateY(0deg); 
	margin:-175px 0 0 30px; }
	
.movieinfo h3 { 
	color:#7b7e9a; 
	font-variant: small-caps; 
	text-align:center; padding-bottom:15px; 
}
.movieinfo p {
	 color:#7b7e9a;
	 font-variant: small-caps; 
	 padding-bottom:15px; 
	 text-align:center;
	}

.movieinfo a { 
	background-color:#7b7e9a;; 
	padding:5px 10px; 
	color:#eee; 
	text-decoration:none; 
	display:block; 
	width:80px; 
	text-align:center; 
	margin:0 auto;
	-moz-border-radius:0px; 
	-webkit-border-radius:0px; 
}

.movieinfo a:hover, .movieinfo a:focus { 
	background-color:#6a191f; color:#fff; 
}

/*COMMIT BORDER